html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body {
  color: #788288;
  background-color: transparent;
  font-size:1.2em;
}

.hc-background {
	background-color: #f2f4f8;
}
.md-content {
	background-color: #f2f4f8;
}
.md-whiteframe-z1,.md-whiteframe-z2 {
	background-color:white !important;
}

.tags {
	font-size:.8em;
	margin-top:20px;
}
.haiku-item {
	z-index: 0;
	margin-bottom:50px!important;
	padding-bottom:50px!important;

	margin-top:50px!important;

}
.haiku-line {
	font-weight:200;
	font-size:1.6em;
	color:rgb(255,255,255);
}
.haiku-text-box {
	background-color:rgba(0, 0, 0,.5) !important;
	z-index:50;
	/*margin-top:40% !important;*/
}
.haiku-details{
	/*margin-top:100px !important;*/
	/*background: rgb(97, 97, 97);*/
	color:rgb(0, 0, 0);
	/*height:100px;*/
	/*width:100%;*/
	z-index:50;
}

  .haiku-media {
		/*height:400px;*/
		/*width:400px;*/
		height:100%;
		padding-top:50px;
		min-height:400px;
	}

/*.entity-image-wrapper {
	margin-right:30px;
	margin-left:30px;
	filter:blur(6px);
	-webkit-filter: blur(6px);
	position: absolute;
	left:0;
	right:0;
  z-index: 0;
  overflow:hidden !important;
  height:100%;
  width:100%;

}*/

.entity-image {
	/*height:75%;*/
	margin-bottom:12.5%;
	/*width:75%;*/
	/*width:100%;*/

	max-width:500px;
	min-width:100px;
	min-height:200px;
	margin-left:8%;
	/*margin-right:12.5%;*/
	/*display:inline-block;*/
	height:auto;
	width:100%;
}
.detail-label {
	font-size:1.2em;
	margin-bottom:0px;
	text-decoration: underline;
	font-weight:300;

}
.sentiment {
	font-size:1em;
	font-weight:200;
}

.md-chips {
	box-shadow:none !important;
	padding-bottom:0px !important;
}