html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body {
  color: #788288;
  background-color: transparent;
  font-size:1.2em;
}

.hc-background {
	background-color: #f2f4f8;
}
.md-content {
	background-color: #f2f4f8;
}
.md-whiteframe-z1,.md-whiteframe-z2 {
	background-color:white !important;
}

.tags {
	font-size:.8em;
	margin-top:20px;
}
.haiku-item {
	z-index: 0;
	margin-bottom:50px!important;
	padding-bottom:50px!important;

	margin-top:50px!important;

}
.haiku-line {
	font-weight:200;
	font-size:1.6em;
	color:rgb(255,255,255);
}
.haiku-text-box {
	background-color:rgba(0, 0, 0,.5) !important;
	z-index:50;

	/*margin-top:40% !important;*/
}
.haiku-details{
	/*margin-top:100px !important;*/
	/*background: rgb(97, 97, 97);*/
	color:rgb(0, 0, 0);
	/*height:100px;*/
	/*width:100%;*/
	z-index:50;
}

  .haiku-media {
		/*height:400px;*/
		/*width:400px;*/
		height:100%;
		padding-top:50px;
		min-height:400px;
	}

.entity-image-wrapper {

	margin-right:30px;
	margin-left:30px;
	filter:blur(2px);
	-webkit-filter: blur(2px);
	position: absolute;
	left:0;
	right:0;
  z-index: 0;
  overflow:hidden !important;
  height:100%;
  width:100%;

}
.entity-image {
		opacity:.8;
	}
@media screen and (max-width: 2500px) and (min-width:1700px) { /* Specific to this particular image */
  .entity-image {
		max-width:600px !important;
		max-height:400px !important;
		margin-left:6%;
		margin-top:0px !important;
		/*margin-right:12.5%;*/
		/*display:inline-block;*/
		height:auto;
		width:100%;
	}
	.haiku-line {
		font-size:2em !important;
	}
	.haiku-media {
		padding-left:20px !important;
	}
}
@media screen and (max-width: 1700px) { /* Specific to this particular image */
  .entity-image {
		max-width:550px !important;
		max-height:400px !important;
		margin-left:6% !important;
		margin-top:0px !important;
		/*margin-right:12.5%;*/
		/*display:inline-block;*/
		height:auto;
		width:100%;
	}
	.haiku-line {
		font-size:2em !important;
	}
	.haiku-media {
		padding-left:50px !important;
	}
}
@media screen and (max-width:1400px) { /* Specific to this particular image */
  .entity-image {
		max-width:480px !important;
		max-height:280px !important;
		margin-top:4% !important;
	}
	.haiku-media {
		padding-left:50px !important;
	}
	.haiku-line {
		font-size:1.7em !important;
	}
	.haiku-media {
		padding-left:60px !important;
	}
}


@media screen and (max-width: 1200px) { /* Specific to this particular image */
  .entity-image {
		max-width:470px !important;
		min-height:350px !important;
		margin-left:0px !important;
		height:auto;
		width:100%;
	}
	.entity-image-wrapper {
		padding-left:60px !important;

	}
	.haiku-line {
		font-size:1.6em !important;
	}
	.haiku-media {
		padding-left:120px !important;
	}
}
@media screen and (max-width: 1100px) { /* Specific to this particular image */
  .entity-image {
		max-width:420px !important;
		max-height:250px !important;

	}
	.haiku-media {
		padding-left:100px !important;
	}
}
@media screen and (max-width: 1000px) { /* Specific to this particular image */
  .entity-image {
		max-width:430px !important;
		max-height:250px !important;

	}
	.haiku-media {
		padding-left:100px !important;
	}
}
@media screen and (max-width: 900px) { /* Specific to this particular image */
  .entity-image {
		max-width:480px !important;
		max-height:250px !important;
		margin-left:3% !important;
	}
	.haiku-media {
		padding-left:100px !important;
	}
}
@media screen and (max-width: 800px) { /* Specific to this particular image */
  .entity-image {
		max-width:420px !important;
		min-height:320px !important;
		margin-left:0px !important;
	}
	.haiku-media {
		padding-left:50px !important;
	}
}
@media screen and (max-width: 700px) { /* Specific to this particular image */
  .entity-image {
		max-width:400px !important;
		min-height:320px;
		margin-left:1% !important;
		height:auto;
		width:100%;
	}
}
@media screen and (max-width: 625px) { /* Specific to this particular image */
  .entity-image {
		/*height:75%;*/
		/*margin-bottom:12.5%;*/
		/*width:75%;*/
		/*width:100%;*/
		max-width:350px !important;
		min-height:320px;
		margin-left:0px;
		margin-top:10%;
		/*display:inline-block;*/
		height:auto;
		width:100%;
	}
}
@media screen and (max-width: 500px) { /* Specific to this particular image */
  .entity-image {
		/*height:75%;*/
		/*margin-bottom:12.5%;*/
		/*width:75%;*/
		/*width:100%;*/
		max-width:200px !important;
		min-height:320px;
		margin-left:0px;
		margin-top:10%;
		/*display:inline-block;*/
		height:auto;
		width:100%;
	}
}
@media screen and (max-width: 375px) { /* Specific to this particular image */
  .entity-image {
		margin-top:10% !important;
		max-width:280px !important;
		min-height:320px;
		margin-left:0px !important;
		margin-top:10%;
		/*display:inline-block;*/
		height:auto;
		width:100%;
	}
	.haiku-media {

		padding-left:20px !important;

	}
}
.detail-label {
	font-size:1.5em;
	margin-bottom:0px;
	text-decoration: underline;
	font-weight:300;
}
.sentiment {
	font-size:2em;
	font-weight:200;

}
.sentiment i {
	padding:20px;
	font-size:2em;
}
.md-chips {
	box-shadow:none !important;
	padding-bottom:0px !important;
}
.new-haiku {
	font-size:2em;
}
.md-button {
	font-size:1.8em;
	padding-top:15px;
	padding-bottom:15px;

	padding-left:20px;
	padding-right:20px;

}
.tag-chip {
	font-size:1.7em; 
	padding:13px;
}
.tag-chip-label {
	font-weight:300;
}