<md-dialog aria-label="New Haiku" flex>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools new-haiku">
      <h2>Add a Haiku</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  <div layout="row" layout-fill layout-align="center center" flex>
    <div flex style="font-size:1.5em; text-align:center; margin-bottom:40px;">
      <span >Add a Haiku to experience it through imagery and search/comparison with others</span>
    </div>
    
  </div>
	<md-input-container flex layout-padding layout-margin class="new-haiku">
    <label>New Haiku Content</label>
    <textarea ng-model="haiku.content" columns="1" md-maxlength="450"></textarea>
  </md-input-container>
  </md-dialog-content>
	<div class="md-actions" layout="row">
    <md-button ng-click="cancel()" class="md-warn">
     Cancel
    </md-button>
    <md-button ng-click="create(haiku.content)" class="md-primary">
      Create
    </md-button>
  </div>
  </form>
</md-dialog>