<div layout-padding layout="row" layout-align="center center">
  <div  flex="85">
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center">
      <div flex="100">
        <md-list >
          <md-list-item class="md-3-line haiku-item" layout-fill ng-repeat="haiku in haikuList" layout-sm="column" layout="row" layout-align="center center">
          <div layout="column" layout-fill>
            <div layout-align="center center" layout="column" layout-fill>
              <div layout-align="center center" flex="80" layout="row" layout-sm="column">
                <div layout-align="center center" layout="column" layout-margin flex>
                  <div class="entity-image-wrapper" flex layout-fill layout-margin>
                    <img class="entity-image" ng-src="{{haiku.entities[0].images[0]}}" alt="{{haiku.entities[0].entityId}}"/>
                  </div>
                  <md-whiteframe class="md-whiteframe-z2 haiku-text-box" layout-fill layout layout-padding layout-align="center center" flex>
                    <div class="md-list-item-text" layout-padding layout="column" layout-align="center center" style="display:inline-block;">
                      <div ng-repeat="line in haiku.lines" layout-align="center center">
                       <span class="haiku-line" >
                        {{line}}
                       </span></br>
                      </div>
                    </div>
                  </md-whiteframe>
                  <!-- <p>{{haiku.entities[0].entityId}}</p> -->
                </div>
              </div>
            </div>
              <div layout="row" class="haiku-details" layout-padding layout-fill layout-align="center center">
                <div flex="50" layout-align="center center" layout="row">
                  <div layout="column">
                    <span class="detail-label">
                      Sentiment
                    </span></br>
                    <span class="sentiment">
                      {{ haiku.sentiment.text }} -  {{ haiku.sentiment.confidence }}%
                    </span>
                  </div>
                </div>
                <div layout="column" layout-margin flex="50" layout-align="center center">
                  <span class="detail-label">
                    Tags
                  </span>
                  <div layout="row" layout-margin>
                    <md-chips ng-model="haiku.entityIds" readonly="true">
                      <md-chip-template>
                        <strong>{{$chip}}</strong>
                        <!-- <em>(fruit)</em> -->
                      </md-chip-template>
                    </md-chips>
                  </div>
                </div>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>

          </md-list-item>
        </md-list>
      </div>
    </md-whiteframe>
  </div>
</div>
